@tailwind base;
@tailwind components;
@tailwind utilities;
/*Кастомный цвет для колокольчика*/
.light-bell {
  color:#0d6efd;
}

h1 {
  font-size: 1.875rem; /* text-3xl */
  font-weight: 600;    /* font-semibold */
  color: #475569;      /* text-slate-600 */
  margin-bottom: 1rem; /* mb-4 */
}
